@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-smoke: #4a4f42;
  --color-sky-warm: #ccc9be;
  --font-sans: "Inter_400Regular";
}

@layer base {
  * {
    font-family: "Inter_400Regular";
  }
}
